.color-code {
  margin-left: 20px
}

.categoria {
  display: flex;
  padding: 5px;
  margin: 5px
}

.color-rect {
  display: inline;
  padding: 3px;
  height: 12px;
  width: 12px;
  margin: 2px
}

.tultip {
  position: absolute;
  z-index: 2;
  background-color: #252323;
  color: #fff;
  opacity: .93;
  height: auto;
  width: 200px;
  font-size: 15px;
  padding: 5px
}

.highlight {
  font-weight: 700
}

.title {
  font-size: 18px
}

p {
  text-align: left
}

.graficas-lab {
  display: flex;
  flex-wrap: wrap
}

.grafica-individual-lab {
  width: 50%
}

.nota-pie {
  font-size: 12px
}

.color-code {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%
}

.color-rect {
  opacity: .8
}

@media (max-width:769px) {
  .grafica-individual-lab {
    width: 100%
  }

  .nota-pie {
    font-size: 10px
  }

  .color-code {
    justify-content: flex-start;
    margin-left: 2px;
    margin-right: 2px
  }

  .categoria {
    width: 45%;
    margin: 1px
  }
}

body {
  margin: 0;
}

#app {
  font-family: "Figtree", system-ui !important;
  background-color: #fef8e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  padding: 1rem;
}